*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

p{
  font-size: 15px
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
}

.fas.fa-check-circle{
  color: rgb(254, 119, 90);
  margin-right: 5px;
}

/* ZONA HEADER */



.main.men첫{
  background-color: rgb(244, 249, 253);
  padding: 12px 17%;
  font-size: 16px;
  border-bottom: 2px solid lightgray;
}


.main.men첫 > span:first-child{
  padding-right: 10px;
  border-right: 1px solid gray;
}

.men첫 > span:nth-last-child(2){
  padding: 10px 7px;
}

.ricerca{
  display: inline-block;
  margin-left: 67%;
}

.fas.fa-search{
  color: rgb(21, 172, 195);
  margin-right: 10px;
}

#in{
  border-radius: 5px;
  border: 1px solid rgb(254, 119, 90);
  color: rgb(254, 119, 90);
  background-color: white;
  padding: 9px;
}

.free{
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(254, 119, 90);
  padding: 9px;
}

.logo{
  /* height: 60px;
  background-color: blue; */
  padding: 14px 17% 40px;
}

.logo > img{
  float: left;
  width: 80px;
}

.sotto.men첫{
  float: right;
}

ul{
  list-style: none;
}

nav > ul > li{
display: inline-block;
margin: 5px 12px;
}



.jumbo{
  height: 700px;
  background-image:url(../img/jumbotron.png);
  background-size: 100% 800px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 60px 55% 0 17%;
}

.jumbo > h1{
  font-size: 55px;
  margin-bottom: 20px;
}

.jumbo > p{
  margin-bottom: 20px;
}

.free.grande{
  padding: 20px;
  margin-bottom: 20px;
}

.free:hover, #in:hover{
  opacity: 0.3;
}


/* FINE ZONA HEADER */

/* ZONA MAIN */

main{
  background-color: rgb(244, 249, 253);
}






/* INIZIO PRIMA PARTE */

.primo{
  padding: 0 17%;
  text-align: center;
  margin: 20px;
}

.primo > img{
  width: 300px;
}

.primo > h2, .primo > p{
  margin: 25px 200px;
}



/* FINE PRIMA PARTE */











/* INIZIO SERCONDA PARTE */

.secondo{
  margin: 15px 17%;
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(220,220,220);
}

.secondo::after{
  content: "";
  display: table;
  clear: both;
}

.sinistra{
  float: left;
  text-align: center;
  margin-left: 7%;
}

.sinistra > img{
  display: block;
  width: 53%;
  margin: 35px 25%;
}

.destra{
  width: 50%;
  float: right;
}

.destra > h3{
  margin: 20px 0;
}

.destra > p{
  margin: 0 0 20px;
}

.destra > h4{
  margin: 0 0 20px;
  display: inline-block;
}

.linea{
  width: 100px;
  border: 1px solid gray;
}


/* FINE SECONDA PARTE */

















/* INIZIO TERZA PARTE */

.terzo{
  margin: 15px 17% 55px;
}

.terzo::after, .left::after, .center::after, .right::after{
  content: "";
  display: table;
  clear: both;
}






/* Blocco di sinistra */

.left{
  float: left;
  width: 30%;
  text-align: center;
  padding: 45px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(220,220,220);
}

.left > img{
  width: 43%;
  margin-bottom: 20px;
}

.left > h3{
  margin-bottom: 20px;
}

.left > p{
  margin-bottom: 20px;
}

.left > h4{
  margin-top: 20px;
}

.left > ul{
  text-align: left;
  margin-top: 20px;
}

.left > button{
  margin-top: 20px;
}

/* Fine bocco di sinistra */









/* Inizio blocco centrale */


.center{
  float: left;
  width: 30%;
  text-align: center;
  padding: 45px;
  margin: 0 5%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(220,220,220);
}

.center > img{
  width: 40%;
  margin-bottom: 20px;
}

.center > h3{
  margin-bottom: 20px;
}

.center > p{
  margin-bottom: 20px;
}

.center > h4{
  margin-top: 20px;
}

.center > ul{
  text-align: left;
  margin-top: 20px;
}

.center > button{
  margin-top: 20px;
}

/* Fine bloco centrale */








/* Inizio blocco di destra */


.right{
  float: left;
  width: 30%;
  text-align: center;
  padding: 45px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(220,220,220);
}

.right > img{
  width: 53%;
  margin-bottom: 20px;
}

.right > h3{
  margin-bottom: 20px;
}

.right > p{
  margin-bottom: 20px;
}

.right > h4{
  margin-top: 20px;
}

.right > ul{
  text-align: left;
  margin-top: 20px;
}

.right > button{
  margin-top: 20px;
}


/* Fine blocco di destra */




/* FINE TERZA PARTE */









/* INIZIO QUARTA PARTE */


.quarto{
  padding: 0 17%;
  margin: 55px 0;
  background: linear-gradient(to right, rgb(0, 168, 188), rgb(0, 188, 168));
  text-align: center;
}

.quarto::after{
  content: "";
  display: table;
  clear: both;
}

.quarto > h2{
  font-size: 37px;
  margin-bottom: 33px;
  color: white;
}
.quarto > p{
  color: white;
  margin-bottom: 10px;
}

.sopra > div, .sotto > div{
  color: white;
  float: left;
  width: 25%;
}

.sopra > div{
  margin-top: 40px;
  border-bottom: 1px solid white;
  padding-bottom: 33px;
}

.sotto > div{
  padding-top: 33px;
  margin-bottom: 40px;
}

.uno, .due, .tre, .cinque, .sei, .sette{
  border-right: 1px solid white;
}


/* FINE QUARTA PARTE */










/* INIZIO QUINTA PARTE */


.quinto{
  padding: 0 17%;
  margin-bottom: 20px;
}

.quinto::after{
  content: "";
  display: table;
  clear: both;
}

.quinto > .sinistra{
  width: 16%;
  margin-left: 16%;
}

.quinto > .destra{
  width: 40%;
}

.up > img{
  height: 17px;
  margin: 10px;
}

.down > img{
  height: 25px;
  margin: 10px;
}


/* FINE QUINTA PARTE */





/* INIZIO QUINTA PARTE */


.sesto{
  margin: 55px 17% 0;
}

.sesto::after{
  content: "";
  display: table;
  clear: both;
}

.sinistra{
  width: 35%;
  text-align: left;
}

.sesto > .sinistra > h2{
  margin-bottom: 20px;
}

.sesto > .sinistra > p{
  margin-bottom: 20px;
}

.sesto > .sinistra > button{
  margin-top: 20px;
}

.sesto img{
  width: 20%;
  float: right;
}


/* FINE QUINTA PARTE */





/* FINE ZONA MAIN */









/* ZONA FOOTER */

footer{
  padding: 0 17%;
  margin-top: 20px;
  background-color: rgb(50, 73, 91);
}





.riga.inferiore::after{
  content: "";
  display: table;
  clear: both;
}

.colonna{
  float: left;
  margin: 3%;
  color: lightgray;
}

.colonna h4{
  margin-bottom: 18px;
}

.colonna a{
  color: lightgray;
}

.colonna a:hover{
  color: lightblue;
  text-decoration: underline;
}

.colonna button{
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin: 20px 0;
  background-color: lightgray;
}

.colonna button:hover{
  padding: 25px;
}

.colonna button a{
  color: rgb(50, 73, 91);
}

.colonna button a:hover{
  color: orange;
  text-decoration: none;
}

.colonna .fab{
  margin-right: 10px;
}




.languages{
  text-align: center;
}

.languages a{
  color: lightgray;
  margin-right: 15px;
}





.end{
  background-color: rgb(50, 73, 91);
}

/* FINE ZONA FOOTER */
