*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

p{
  font-size: 15px
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

/* ZONA HEADER */



.main.menù{
  background-color: rgb(244, 249, 253);
  padding: 12px 17%;
  font-size: 16px;
  border-bottom: 2px solid lightgray;
}


.main.menù > span:first-child{
  padding-right: 10px;
  border-right: 1px solid gray;
}

.menù > span:nth-last-child(2){
  padding: 10px 7px;
}

.ricerca{
  display: inline-block;
  margin-left: 67%;
}

.fas.fa-search{
  color: rgb(21, 172, 195);
  margin-right: 10px;
}

#in{
  border-radius: 5px;
  border: 1px solid rgb(254, 119, 90);
  color: rgb(254, 119, 90);
  background-color: white;
  padding: 9px;
}

.free{
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(254, 119, 90);
  padding: 9px;
}

.logo{
  /* height: 60px;
  background-color: blue; */
  padding: 14px 17% 40px;
}

.logo > img{
  float: left;
  width: 80px;
}

.sotto.menù{
  float: right;
}

nav > ul{
  list-style: none;
}

li{
display: inline-block;
margin: 5px 12px;
}



.jumbo{
  height: 700px;
  background-image:url(../img/jumbotron.png);
  background-size: 100% 800px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 60px 55% 0 17%;
}

.jumbo > h1{
  font-size: 55px;
  margin-bottom: 20px;
}

.jumbo > p{
  margin-bottom: 20px;
}

.free.grande{
  padding: 20px;
  margin-bottom: 20px;
}


/* FINE ZONA HEADER */

/* ZONA MAIN */

main{
  background-color: rgb(244, 249, 253);
}



.primo{
  padding: 0 17%;
  text-align: center;
  margin: 20px;
}

.primo > img{
  width: 300px;
}

.primo > h2, .primo > p{
  margin: 25px 220px;
}


.secondo{
  height: 250px;
  background-color: orange;
}

.terzo{
  height: 700px;
  background-color: lightblue;
}

.quarto{
  height: 670px;
  background-color: lightgreen;
}

.quinto{
  height: 200px;
  background-color: darkgray;
}

.sesto{
  height: 350px;
  background-color: red;
}

/* FINE ZONA MAIN */

/* ZONA FOOTER */

footer{
  margin: 0 15%;
}

.riga.inferiore{
  height: 350px;
  background-color: brown;
}

.end{
  height: 80px;
  background-color: gold;
}

/* FINE ZONA FOOTER */
